---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$body-color: yellow;
$background-color: yellow;
$text-color: blue;
$footer-color: pink;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

