---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #fff;
$text-color: #1300FC;
$masthead-link-color: #EC24EC;
$footer-background-color: #EC24EC;
$masthead-link-color-hover: #FCE100;
$link-color: #EC24EC;
$link-color-hover: #FCE100;
$link-color-visited: $FCE100;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
